<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               [mode]="isHandset() ? 'over' : 'side'"
               [opened]="!isHandset()">
    <mat-toolbar>
      @if(isHandset()) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Menu</span>
      }
      @if(showTitleInSidenav()){
        <span>{{title}}</span>
      }
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset()) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      @if(showTitleInMainToolbar()) {
        <span>{{title}}</span>
      }
    </mat-toolbar>
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
